.container h1 {
  margin: 0;
  font-size: 33px;
  position: central;
  text-align: center;
}

.container p {
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.container-show {
  position: center;
  background-color: white;
  text-align: center;
  width: 1000px;
  margin: auto;
  border: 3px solid #73AD21;
}

.image-show{
  text-align: center;
  border-radius: 300px;
}
