.container h1 {
  margin: 0;
  font-size: 28px;
  position: central;
  text-align: center;
}

.container p {
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.container-show {
  position: center;
  background-color: white;
  text-align: center;
  width: 830px;
  margin: auto;
  border: 3px solid grey;
  h1 {
    font-size: 28px;
  }
}

.image-show{
  text-align: center;
  border-radius: 300px;
}
