
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>All our Beasts</h1>
        <p>Below you will see all beasts on offer</p>
      </div>
    </div>


  <! make a grid for the cards>
<div class="container py-5">

<div class="d-flex align-items-center justify-content-between mb-3">


   <div class="row">
    <div class="card mb-4 shadow-sm">
      <% @creatures.each do |name| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
        <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= creature.photo.attached? ? cl_image_path(creature.photo.key) : asset_path('creature_background.jpg') %>)">
            <%= creature.name %>
            <%end%>
        </div>
    </div>

  </div>

</div>
