

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1583997052301-0042b33fc598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);">
  <div class="container">
    <h1><strong>Rent-a-beast</strong>!</h1>
      <h2>Welcome to the world of Hogwarts!</h2>
    <p>The #1 beast-renting platform known to man kind.</p>
    <%= link_to "Discover the beasts", creatures_path,class: "btn btn-flat" %>
  </div>
</div>
