// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";



h3 {
  padding: 20px;
}

.text-center {
text-align: center;
}

.card {
  background-size: cover;
  background-position: center;
  height: 250 px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width:992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.banner h1 {
  margin: 0;
  color: #E0379D;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}
